# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_custom_container.html
packages:
  yum:
    libjpeg-turbo-devel: []
    freetype-devel: []
    zlib-devel: []
    lcms2-devel: []
    lcms2-utils: []
    libtiff-devel: []
    libwebp-devel: []

container_commands:
  02setup:
    command: "./setup.sh"


# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_django.html

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: loris2.wsgi.py
#  - option_name: DJANGO_SETTINGS_MODULE
#    value: mysite.settings
