# This is all replaced in the Dockerfile except for 
# the auto scaling launch configuration resource creation
# at the very bottom - file retained for now as a record.
#
# # http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_custom_container.html
# # http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_django.html
# 
# packages:
#   # [] installs newest version
#   yum:
#     libjpeg-turbo-devel: []
#     freetype-devel: []
#     zlib-devel: []
#     lcms2-devel: []
#     lcms2-utils: []
#     libtiff-devel: []
#     libwebp-devel: []
# 
# 
# commands:
#   00-setup-dirs:
#     # create directories for loris cache etc.
#     command: >
#       for dir in tmp log cache cache-loris2 cache-links
#         do
#           mkdir -p "/home/wsgi/$dir"
#       done
#   01-chown-home:
#      command: chown -R webapp:webapp /home/wsgi
# 
# 
# container_commands:
#   00-setup-crontab:
#     command: crontab -u webapp crontab
# 
# option_settings:
#   - option_name: APP_WORK
#     value: /home/wsgi
#   - option_name: APP_CURRENT
#     value: /var/app/current
# 

Resources:
    AWSEBAutoScalingLaunchConfiguration:
        Type: AWS::AutoScaling::LaunchConfiguration
        Properties:
            BlockDeviceMappings:
               - DeviceName: /dev/xvda
                 Ebs:
                     VolumeSize:
                        100
