# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_custom_container.html
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Python_django.html

packages:
  # [] installs newest version
  yum:
    libjpeg-turbo-devel: []
    freetype-devel: []
    zlib-devel: []
    lcms2-devel: []
    lcms2-utils: []
    libtiff-devel: []
    libwebp-devel: []


commands:
  00-setup:
    # create directories for loric cache etc.
    command: >
      for dir in tmp log cache cache-loris2 cache-links
        do
          mkdir -p "/var/app/$dir"
          chown -R wsgi:wsgi "/var/app/$dir"
      done


option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: loris2.wsgi.py
  - option_name: APP_WORK
    value: /var/app/
